/* Colors */
$color-navbar: #182d52;
$color-red: #9f3227;
$color-dark-red: rgb(147, 47, 33);
$color-green: #599232;
$color-dark-blue: #111B33;
$color-very-dark-blue: rgb(29, 46, 84);
$color-light-blue: #475370;
$color-dark-gray: #9a9ca6;
$color-gray: rgb(177, 185, 207);
$color-light-gray: rgb(193, 193, 194);
$color-blue-text: rgb(52, 68, 99);
$white: #fff;
$color-card-p: rgb(75, 98, 158);
$color-other-blue: rgb(74, 99, 172);
$color-very-light-gray: #f2f0f0;
$color-blue-gray: rgb(69, 97, 154);
$color-light-blue-gray: rgb(91, 127, 191);
$color-lorem: rgb(70, 50, 112);
$color-footer: rgb(24, 45, 82);
$color-black: #000;
$color-purple-blue: rgb(122, 155, 213);

/* Font */
$font: 'Gothic A1', Gothic A1;
/* properties */
.ancla {text-decoration: none; font-weight: 500; color: $color-other-blue; border-bottom: 1px solid $color-other-blue;}
.ancla:hover {color: $color-gray; border-bottom: 0}
/* Images Header  Card-2*/

.image-1 {background-image: url('../images/poker.png'); grid-row: 1 / 3;}
.image-2 {background-image: url('../images/bastket.png');}
.image-3 {background-image: url('../images/money.png');}
.image-4 {background-image: url('../images/horse.png');}
.image-5 {background-image: url('../images/casino.png');}

/* End image */
.fz-1 {font-size: 1.8rem; font-weight: 800;}
.fz-2 {font-size: 1.55rem;}
.mt-1 {margin-top: 10px;}
.mt-2 {margin-top: 20px;}
.mt-4 {margin-top: 40px;}
.mr-1 {margin-right: 10px;}
.mr-2 {margin-right: 20px;}
.mr-3 {margin-right: 30px;}
.ml-2 {margin-left: 20px;}
.ml-25 {margin-left: 25px;}
.m-4 {padding-left: 96px;}
/* .margin {width: 1070px; margin: 0 auto;} */
/* .margin {width: 85%; margin: 0 auto;} */


/* FlexBox  */
.d-block {display: block;}
.d-none {display: none;}
.h-100 {height: 100%;}
.flex {display: flex;}
.row {flex-direction: row;}
.row-reverse {flex-direction: row-reverse;}
.column {flex-direction: column;}
.justify-between {justify-content: space-between;}
.justify-evenly {justify-content: space-evenly;}
.justify-start {justify-content: flex-start;}
.justify-center {justify-content: center;}
.justify-end {justify-content: flex-end;}
.align-items-start {align-items: flex-start;}
.align-items-center {align-items: center;}
.align-items-end {align-items: flex-end;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.alig-self-start {alig-self: flex-start;}