@mixin ancla($size, $f-weight) {
	text-decoration: none;
	font-size: $size;
	display: block;
	color: $white;
	text-transform: uppercase;
	font-weight: $f-weight;
}
/* .mt-1 {margin-top: 11.2px;} */
/* .mt-4 {margin-top: 38px;} */
.navbar-list {
	display: none;
}
.footer {
	background-color: $color-footer;
	.margin {
		@include width(85%);
		.nav {
		    display: none;
		}
		.navbar {
			padding-top: 38px;
			&-ancla {
				@include ancla(1rem, 700);
			}
			&-ancla:hover {
				color: $color-gray;
			}	
		}
		.footer-container {
			margin-top: 74px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(1, auto);
			&-section {
				&-title {
					@include title(white, 1rem);
					.btn-group {
						display: none;
					}
				}
				&-div {
					&-ancla:first-child {
						margin-top: 4vw;
					}
					&-ancla {
						@include ancla(.95rem, 600);
						color: $color-purple-blue;
						text-transform: capitalize;
					}
					&-ancla:hover {
						color: $color-light-blue;
					}
				}
			}
		}
		.footer-copy {
			margin-top: 50px;
			padding-bottom: 20px;
			padding-bottom: 17px;
			&-title {
				text-transform: uppercase;
				font-weight: 400;
				margin-top: 33px;
			}
			&-img {
				margin-top: 34px;
				width: 112px;
				height: 34px;
			}
			&-text {
				margin-top: 26px;
				font-weight: 510;
				font-size: .73rem;
				&-paragraph {
					color: rgba(189, 189, 189, .43);
					margin-left: 4px;
				}
			}
		}
	}
}