@mixin ancla {
	text-decoration: none;
	font-size: 1rem;
	display: block;
	color: $white;
	text-transform: uppercase;
	font-weight: 600;		
	/* @else if $con == ancla-2 { */
		/* color: $color-purple-blue; */
		/* text-transform: capitalize; */
	/* } */
}
.ml-2 {margin-left: 22px}
.mt-1 {margin-top: 11.2px;}
.mt-4 {margin-top: 38px;}

.footer {
	background-color: $color-footer;
	.navbar {
		/* display: flex; */
		/* justify-content: center; */
		padding-top: 38px;
		&-ancla {
			@include ancla;
		}
		&-ancla:hover {
			color: $color-gray;
		}
		
	}
	&-container {
		margin-top: 74px;
		display: flex;
		justify-content: space-between;
		&-section {
			&-title {
				@include title($color: white);
			}
			&-div {
				display: flex;
				flex-direction: column;
				&-ancla {
					@include ancla;
					color: $color-purple-blue;
					text-transform: capitalize;
					font-weight: 500;
					font-size: .9rem;
				}
				&-ancla:hover {
					color: $color-light-blue;
				}
			}
		}
	}
	&-copy {
		margin-top: 50px;
		padding-bottom: 20px;
		padding-bottom: 17px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&-title {
			text-transform: uppercase;
			font-weight: 400;
			margin-top: 33px;
		}
		&-img {
			margin-top: 34px;
			width: 112px;
			height: 34px;
		}
		&-text {
			margin-top: 26px;
			font-weight: 510;
			display: flex;
			align-items: center;
			font-size: .73rem;
			&-paragraph {
				color: rgba(189, 189, 189, .43);
				margin-left: 4px;
			}
		}
	}
}