@mixin btn($width, $height, $bgc, $font-s, $color-text, $f-weight) {
	width: $width;
	height: $height;
	border: none;
	border-radius: 5px;
	background-color: $bgc;
	color: $color-text;
	cursor: pointer;
	font-weight: $f-weight;
	font-size: $font-s;
	text-transform: uppercase;
	text-align: center;
}

@mixin card($width, $height) {
	overflow: hidden;
	border-radius: 8px;
	width: $width;
	height: $height;
	border: 1px solid rgb(177, 185, 207);
}

@mixin title($color) {
	text-transform: uppercase;
	font-weight: 800;
	@if $color == blue {
		font-size: 1.9rem;
		color: $color-very-dark-blue;
	}
	@else {
		color: $white;
	}
}

@import '_utilities';
@import '_responsive';
@import '_header';
@import '_main';
@import '_footer';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $font;
}

body {
	color: $white;
}