/* Colors */
.prueb {
  font-weight: 600; }

/* Font */
/* properties */
.ancla {
  text-decoration: none;
  font-weight: 500;
  color: #4a63ac;
  border-bottom: 1px solid #4a63ac; }

.ancla:hover {
  color: #b1b9cf;
  border-bottom: 0; }

/* Images Header  Card-2*/
/* grid-row: 1 / 3; */
.image-1 {
  background-image: url("../images/poker.png");
  grid-row: 1 / 3; }

.image-2 {
  background-image: url("../images/bastket.png"); }

.image-3 {
  background-image: url("../images/money.png"); }

.image-4 {
  background-image: url("../images/horse.png"); }

.image-5 {
  background-image: url("../images/casino.png"); }

/* End image */
.prueba {
  background-color: red; }

.fz-1 {
  font-size: 1.8rem; }

.fz-2 {
  font-size: 1.1rem; }

.mt-1 {
  margin-top: 10px; }

.mt-2 {
  margin-top: 20px; }

.mr-1 {
  margin-right: 10px; }

.mr-2 {
  margin-right: 20px; }

.mr-3 {
  margin-right: 30px; }

.m-4 {
  padding-left: 96px; }

.margin {
  padding-left: 150px;
  padding-right: 150px; }

/* FlexBox  */
.flex {
  display: flex; }

.row-reverse {
  flex-direction: row-reverse; }

.column {
  flex-direction: column; }

.justify-between {
  justify-content: space-between; }

.justify-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.align-items-end {
  align-items: flex-end; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.header-navbar {
  background-color: #182d52;
  height: 3.7rem;
  border-bottom: 2px solid lightgray;
  overflow: hidden; }
  .header-navbar-container {
    width: 100%; }
    .header-navbar-container-logo {
      padding: 0;
      margin: 0; }
    .header-navbar-container-social-icon {
      display: inline-block; }
      .header-navbar-container-social-icon .bi-chat-dots {
        border: 0;
        border-radius: 50%;
        padding: .25rem;
        font-size: 1rem;
        cursor: pointer;
        font-weight: 700; }
      .header-navbar-container-social-icon .bi-telephone, .header-navbar-container-social-icon .bi-list {
        border: 2px solid #fff;
        border-radius: 50%;
        padding: .25rem;
        font-size: 1rem;
        cursor: pointer;
        font-weight: 700; }
    .header-navbar-container-social-form {
      display: inline-block; }
      .header-navbar-container-social-form .btn-login {
        /* Width, height, bg-color, Font-size, Font-weight */
        width: 98px;
        height: 34px;
        border: none;
        border-radius: 5px;
        background-color: #9f3227;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        font-size: 0.9rem;
        text-transform: uppercase;
        text-align: center;
        line-height: 50%;
        margin-left: .7rem; }
      .header-navbar-container-social-form .btn-login:hover {
        opacity: .8; }
      .header-navbar-container-social-form .btn-join {
        /* Width, height, bg-color, Font-size, Font-weight */
        width: 98px;
        height: 33px;
        border: none;
        border-radius: 5px;
        background-color: #599232;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        font-size: 0.9rem;
        text-transform: uppercase;
        text-align: center;
        margin-left: .3rem;
        line-height: 50%; }
      .header-navbar-container-social-form .btn-join:hover {
        opacity: .8; }
.header-body {
  border-top: 4px solid #9f3227;
  background-image: url("../images/image.png");
  background-repeat: no-repeat;
  background-color: #111B33;
  background-size: auto 100%;
  background-position: center;
  background-attachment: scroll;
  position: relative;
  height: 305px; }
  .header-body-content {
    position: absolute;
    right: 14%;
    margin-top: 60px;
    text-align: center; }
    .header-body-content-paragraph-1 {
      margin-bottom: 0;
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: -4px; }
    .header-body-content-paragraph-2 {
      color: #9a9ca6;
      font-size: 2rem;
      font-weight: 800;
      letter-spacing: -2px;
      margin: 0; }
    .header-body-content-paragraph-3 {
      font-weight: 800;
      margin-top: 5px;
      font-size: 1.6rem;
      letter-spacing: -1px; }
.header-footer {
  text-align: center;
  background-color: #fff; }
  .header-footer-btn {
    /* Width, height, background-color, size text, color */
    width: 367px;
    height: 72px;
    border: none;
    border-radius: 5px;
    background-color: #599232;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    transform: translateY(-50%); }
  .header-footer-btn:hover {
    background-color: #699735; }
  .header-footer-cards-group {
    overflow: hidden;
    border-radius: 8px;
    word-break: break-all;
    width: 350px;
    height: 160px;
    border: 1px solid #b1b9cf; }
    .header-footer-cards-group-img {
      flex: 0 0 30%;
      padding-left: 1rem;
      height: 100%; }
    .header-footer-cards-group-body {
      flex: 0 1 70%;
      overflow: hidden;
      text-align: right;
      padding-right: 18px;
      padding-top: 10px; }
      .header-footer-cards-group-body-title {
        font-size: 4.8rem;
        color: #1d2e54;
        letter-spacing: -4px;
        font-weight: 800; }
        .header-footer-cards-group-body-title span {
          letter-spacing: -14px;
          color: inherit; }
      .header-footer-cards-group-body-text {
        margin-top: -11px;
        font-size: 2rem;
        color: #4b629e;
        font-weight: 500;
        letter-spacing: -2px; }
      .header-footer-cards-group-body-span {
        color: #b1b9cf;
        font-size: .9rem;
        font-weight: 700;
        margin-top: 5px; }
.header-card {
  background-color: #F2F2F2;
  margin-top: 35px; }
  .header-card-title {
    padding-top: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.87rem;
    color: #1d2e54; }
  .header-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 348px);
    grid-template-rows: repeat(2, 150px);
    gap: 31px;
    margin-top: 20px;
    padding-bottom: 35px; }
    .header-card-grid-section {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: .5rem;
      text-transform: uppercase; }
      .header-card-grid-section-title {
        font-size: 2.5rem;
        font-weight: 700; }
      .header-card-grid-section-subtitle {
        color: #c1c1c2;
        font-weight: 800;
        font-size: 1.2rem; }
      .header-card-grid-section-btn {
        width: 110px;
        height: 34px;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        color: #4a63ac;
        cursor: pointer;
        font-weight: 720;
        font-size: 0.8rem;
        text-transform: uppercase;
        text-align: center; }
      .header-card-grid-section-btn:hover {
        background-color: lightgray; }

.mt-2 {
  margin-top: 20px; }

.main-container {
  background-color: #fff; }
  .main-container .main-1 .main-container-div {
    margin-top: 45px; }
    .main-container .main-1 .main-container-div-title {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1.87rem;
      color: #1d2e54; }
    .main-container .main-1 .main-container-div-paragraph {
      color: #344463;
      width: 710px;
      /* background-color: darkred; */
      font-size: .9rem;
      font-weight: 600;
      line-height: 1.2rem; }
  .main-container .main-1 .main-container-card {
    margin-top: 20px; }
    .main-container .main-1 .main-container-card-group {
      /* @include card(flex, row, flex-start, center, 346px, 158px); */
      overflow: hidden;
      border-radius: 8px;
      word-break: break-all;
      width: 348px;
      height: 160px;
      border: 1px solid #b1b9cf;
      padding: .6rem; }
      .main-container .main-1 .main-container-card-group-section-1 {
        margin-right: .5rem; }
        .main-container .main-1 .main-container-card-group-section-1 img {
          width: 65px;
          height: 70px; }
      .main-container .main-1 .main-container-card-group-section-2 {
        border-left: 1px solid #afb9cd;
        padding-left: .8rem;
        /* padding-right: .45rem; */ }
        .main-container .main-1 .main-container-card-group-section-2-title {
          color: #45619a; }
        .main-container .main-1 .main-container-card-group-section-2-paragraph {
          margin-top: 11px;
          font-size: .9rem;
          line-height: 1.3rem;
          color: #000;
          text-align: left;
          font-weight: 400; }
        .main-container .main-1 .main-container-card-group-section-2-ancla {
          text-align: right;
          display: block;
          font-weight: 600;
          text-align: right;
          font-size: .85rem;
          color: #4b7bd0; }
        .main-container .main-1 .main-container-card-group-section-2-ancla:hover {
          color: #b1b9cf; }
  .main-container .main-2-pro {
    color: black;
    margin-top: 3.5rem; }
    .main-container .main-2-pro .content {
      margin-right: 15px; }
      .main-container .main-2-pro .content-title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.87rem;
        color: #1d2e54; }
      .main-container .main-2-pro .content-div {
        margin-top: 48px;
        margin-right: 14px; }
        .main-container .main-2-pro .content-div .container-text {
          margin-left: 8px; }
          .main-container .main-2-pro .content-div .container-text-title {
            color: #1d2e54; }
          .main-container .main-2-pro .content-div .container-text-paragraph {
            margin-top: 24px;
            color: #475370;
            line-height: 23px;
            font-size: .95rem;
            font-weight: 500; }
        .main-container .main-2-pro .content-div .container-card-group-items {
          /* @include card(flex, row, flex-start, flex-start, 340px, 154px); */
          overflow: hidden;
          border-radius: 8px;
          word-break: break-all;
          width: 358px;
          height: 154px;
          border: 1px solid #b1b9cf;
          padding: 8px 20px 8px 8px;
          margin-top: 26px; }
          .main-container .main-2-pro .content-div .container-card-group-items-image {
            margin-top: 5.5px;
            flex: 1 0 20%; }
            .main-container .main-2-pro .content-div .container-card-group-items-image img {
              width: 95%; }
          .main-container .main-2-pro .content-div .container-card-group-items-info {
            flex: 1 0 78%;
            height: 100%;
            margin-left: 13px; }
            .main-container .main-2-pro .content-div .container-card-group-items-info-title {
              text-transform: uppercase;
              color: #1d2e54; }
            .main-container .main-2-pro .content-div .container-card-group-items-info-text {
              color: #475370;
              letter-spacing: .3px;
              line-height: 18px;
              font-weight: 500; }
            .main-container .main-2-pro .content-div .container-card-group-items-info-button {
              /* $wdt, $pd, $bgc, $font-s, $color-text, $f-weight */
              width: 109px;
              height: 32px;
              border: none;
              border-radius: 5px;
              background-color: #AC0D0D;
              color: #fff;
              cursor: pointer;
              font-weight: 600;
              font-size: 0.95rem;
              text-transform: uppercase;
              text-align: center; }
            .main-container .main-2-pro .content-div .container-card-group-items-info-button:hover {
              background-color: #990000; }
    .main-container .main-2-pro .main-2-flex-aside {
      background-color: darkred; }
      .main-container .main-2-pro .main-2-flex-aside-title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.87rem;
        color: #1d2e54; }
      .main-container .main-2-pro .main-2-flex-aside-container {
        margin-top: 4px; }
        .main-container .main-2-pro .main-2-flex-aside-container-action {
          width: 340px;
          height: 47px;
          background-color: #f4f4f4;
          border-radius: 4px;
          padding-left: 25px;
          padding-right: 5px;
          margin-top: 12.5px;
          position: relative;
          cursor: pointer; }
          .main-container .main-2-pro .main-2-flex-aside-container-action span {
            color: #1d2e54;
            font-size: 1.1rem;
            font-weight: bold; }
          .main-container .main-2-pro .main-2-flex-aside-container-action i {
            color: gray;
            cursor: pointer;
            font-size: 1.7rem;
            font-weight: bold; }
          .main-container .main-2-pro .main-2-flex-aside-container-action i:hover {
            color: darkgray; }
          .main-container .main-2-pro .main-2-flex-aside-container-action-menu {
            position: absolute;
            background-color: darkgray;
            width: 100%;
            bottom: 100%;
            left: 0%;
            padding: .5rem;
            display: none;
            border-radius: 8px;
            margin-bottom: .5rem; }
            .main-container .main-2-pro .main-2-flex-aside-container-action-menu li {
              list-style: none; }
      .main-container .main-2-pro .main-2-flex-aside-container-footer-title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.87rem;
        color: #1d2e54;
        margin-top: 51px; }
      .main-container .main-2-pro .main-2-flex-aside-container-footer-info {
        background-color: #F2F2F2;
        width: 337px;
        height: 181px;
        padding: .7rem .6rem;
        border-radius: 5px;
        margin-top: 20px; }
        .main-container .main-2-pro .main-2-flex-aside-container-footer-info-content-img {
          width: 80px;
          height: 80px; }
        .main-container .main-2-pro .main-2-flex-aside-container-footer-info-content-letter {
          padding-left: .5rem;
          font-style: italic; }
          .main-container .main-2-pro .main-2-flex-aside-container-footer-info-content-letter-title {
            color: #1d2e54; }
            .main-container .main-2-pro .main-2-flex-aside-container-footer-info-content-letter-title .spacing {
              display: inline-block;
              color: inherit; }
          .main-container .main-2-pro .main-2-flex-aside-container-footer-info-content-letter-span {
            font-size: .8rem;
            color: #afb9cd; }
        .main-container .main-2-pro .main-2-flex-aside-container-footer-info-paragraph {
          font-size: .94rem;
          margin-top: .9rem;
          line-height: 1.2rem;
          color: #344463; }
  .main-container .main-2 .info {
    /* background-color: darkred; */
    margin-top: 5.55rem;
    padding-bottom: 2.59rem; }
    .main-container .main-2 .info-section-first {
      margin-top: 59px; }
      .main-container .main-2 .info-section-first .info-container {
        text-align: right; }
        .main-container .main-2 .info-section-first .info-container-img {
          margin-left: .71rem;
          width: 40px;
          height: 40px; }
        .main-container .main-2 .info-section-first .info-container-text-title {
          color: #5b7fbf;
          text-transform: uppercase; }
        .main-container .main-2 .info-section-first .info-container-text-p {
          font-size: .94rem;
          color: #000; }
    .main-container .main-2 .info-section-second {
      padding-left: 57px;
      flex: 1 0 770px; }
      .main-container .main-2 .info-section-second-contain-h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.87rem;
        color: #1d2e54;
        border-bottom: 2px solid rgba(41, 121, 255, 0.5);
        padding-bottom: .2rem;
        text-align: center; }
      .main-container .main-2 .info-section-second-contain-text {
        margin-top: .9rem;
        overflow: hidden;
        word-break: break-all;
        line-height: 1.6rem;
        font-size: 1.03rem;
        color: #344463; }

.ml-2 {
  margin-left: 22px; }

.mt-1 {
  margin-top: 11.2px; }

.mt-4 {
  margin-top: 38px; }

.footer {
  background-color: #182d52; }
  .footer .navbar {
    /* display: flex; */
    /* justify-content: center; */
    padding-top: 38px; }
    .footer .navbar-ancla {
      text-decoration: none;
      font-size: 1rem;
      display: block;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      /* @else if $con == ancla-2 { */
      /* color: $color-purple-blue; */
      /* text-transform: capitalize; */
      /* } */ }
    .footer .navbar-ancla:hover {
      color: #b1b9cf; }
  .footer-container {
    margin-top: 74px;
    display: flex;
    justify-content: space-between; }
    .footer-container-section-title {
      text-transform: uppercase;
      font-weight: 800;
      color: #fff; }
    .footer-container-section-div {
      display: flex;
      flex-direction: column; }
      .footer-container-section-div-ancla {
        text-decoration: none;
        font-size: 1rem;
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        /* @else if $con == ancla-2 { */
        /* color: $color-purple-blue; */
        /* text-transform: capitalize; */
        /* } */
        color: #7a9bd5;
        text-transform: capitalize;
        font-weight: 500;
        font-size: .9rem; }
      .footer-container-section-div-ancla:hover {
        color: #475370; }
  .footer-copy {
    margin-top: 50px;
    padding-bottom: 20px;
    padding-bottom: 17px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer-copy-title {
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 33px; }
    .footer-copy-img {
      margin-top: 34px;
      width: 112px;
      height: 34px; }
    .footer-copy-text {
      margin-top: 26px;
      font-weight: 510;
      display: flex;
      align-items: center;
      font-size: .73rem; }
      .footer-copy-text-paragraph {
        color: rgba(189, 189, 189, 0.43);
        margin-left: 4px; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gothic A1", sans-serif; }

body {
  color: #fff; }

/*# sourceMappingURL=style.css.map */
